@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-link:not([href]) {
  background-color: #e5e5e5;
  color: #ffffff;
}

.page-header-button {
  display: block;
  width: 160px;
  padding: 8px 5px;
  margin-left: 20px;
  box-sizing: border-box;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 5px;
  box-sizing: border-box;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
  min-width: 232px;
  padding: 8px;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.filter-button {
  background-color: #82b3d3;
  margin-bottom: 32px;
  width: 191px;
  padding: 8px 5px;
}

.filter-button:hover:not(:disabled) {
  background-color: #68a2ca;
}

.filter-button:focus-visible:not(:disabled) {
  background-color: #68a2ca;
}

.filter-button:active:not(:disabled) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  background-color: transparent;
  padding: 8px 5px;
}

.reset-button:hover:not(:disabled) {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus-visible:not(:disabled) {
  background-color: transparent;
  outline: 3px solid #82b3d3;
}

.reset-button:active:not(:disabled) {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.hotel-card-button {
  padding: 8px 5px;
}

.button-card-favorite {
  background-color: #82b3d3;
  padding: 8px 5px;
}

.button-card-favorite:hover {
  background-color: #68a2ca;
}

.button-card-favorite:focus-visible {
  background-color: #68a2ca;
}

.button-card-favorite:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-card-favorite:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-card-favorite-added {
  background-color: #7db54f;
  padding: 8px 5px;
}

.button-card-favorite-added:hover {
  background-color: #6c9e42;
}

.button-card-favorite-added:focus-visible {
  background-color: #6c9e42;
}

.button-card-favorite-added:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-card-favorite-added:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* header */

.page-header {
  background-color: #ffffff;
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

/* header-logotype */

.header-logotype {
  display: block;
  z-index: 1;
}

.logotype {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: -6px;
}

.header-logotype:hover:not(.current-page-logotype) {
  opacity: 0.6;
}

.header-logotype:focus-visible:not(.current-page-logotype) {
  opacity: 0.6;
}

.header-logotype:active:not(.current-page-logotype) {
  opacity: 0.3;
}

/* page-header-navigation */

.page-header-navigation {
  margin-right: auto;
}

.page-header-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.page-header-navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
  color: #000000;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 32px);
  background-color: #756257;
  left: 16px;
  bottom: -1px;
}

.page-header-navigation-link:hover:not(.navigation-link-current) {
  color: #756157;
  cursor: pointer;
}

.page-header-navigation-link:focus-visible:not(.navigation-link-current) {
  color: #756157;
  cursor: pointer;
}

.page-header-navigation-link:active:not(.navigation-link-current) {
  color: rgba(117, 97, 87, 0.3);
  cursor: pointer;
}

/* page-header-user-actions-list */

.page-header-user-actions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-actions-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 23px 13px;
  min-width: 44px;
  min-height: 64px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.search-icon::before {
  mask-image: url(../images/icons/search.svg);
  content: "";
  display: block;
  min-width: 18px;
  min-height: 18px;
  background-color: #000000;
  mask-repeat: no-repeat;
  mask-position: center;
}

.favorite::before {
  mask-image: url(../images/icons/heart.svg);
  content: "";
  display: block;
  min-width: 18px;
  min-height: 18px;
  background-color: #000000;
  mask-repeat: no-repeat;
  mask-position: center;
}

.notification-mark {
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7dB54F;
  padding: 5px;
  box-sizing: border-box;
  top: 11px;
  right: 4px;
}

.user-actions-link:hover::before {
  background-color: #756157;
}

.user-actions-link:focus-visible::before {
  background-color: #756157;
}

.user-actions-link:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

/* hero */

.hero {
  background-color: #e3c4ab;
  color: #82b3d3;
  background-image: url("../images/background-hero-decor.svg"), url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
}

.hero-image {
  width: 458px;
  display: block;
  margin: 0 auto;
  padding: 50px 50px 82px;
}

/* advantages */

.advantages {
  padding-top: 69px;
}

.advantages-title {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.lead-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 113px 85px;
}

.advantages-basic {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center;
}

.item-wrapper {
  width: 400px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.advantages-item-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-image {
  width: 800px;
  height: auto;
  display: block;
  object-fit: contain;
}

.advantages-accent-item {
  display: flex;
}

.visual-dark {
  color: #ffffff;
  background-color: #82b3d3;
  width: 1200px;
  padding: 0;
}

.visual-dark .advantages-item-title {
  color: #ffffff;
}

.visual-dark .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.visual-light {
  background-color: #83b3d31f;
}

.visual-medium {
  background-color: #83b3d333;
}

/* service */

.service {
  padding-top: 64px;
}

.service-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.service-basic {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 102px;
  background-repeat: no-repeat;
  background-position: center top;
}

.house-icon {
  background-image: url("../images/icons/icon-home.svg");
}

.food-icon {
  background-image: url("../images/icons/icon-burger.svg");
}

.souvenir-icon {
  background-image: url("../images/icons/icon-souvenir.svg");
}

.service-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

/* search */

.search {
  padding: 96px 304px;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
}

.search-basic {
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

/* subscribe */

.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-basic {
  text-align: center;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form {
  text-align: center;
  display: flex;
}

.subscribe-input {
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscribe-input:hover {
  background-color: #e6e6e6;
}

.subscribe-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #82b3d3;
}

.subscribe-index {
  color: #ffffff;
  background-color: #e3c4ab;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-index .subscribe-title {
  color: inherit;
}

/* page-footer */

.page-footer {
  background-color: #ffffff;
  padding: 40px 70px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-width: 142px;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  text-decoration: none;
  color: inherit;
  display: block;
  min-width: 47px;
  min-height: 40px;
  padding: 11px;
  box-sizing: border-box;
  cursor: pointer;
}

.social-vk::before {
  content: "";
  display: block;
  min-width: 25px;
  min-height: 18px;
  background-color: #82b3d3;
  mask-image: url("../images/icons/social-vk.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-telegram::before {
  content: "";
  display: block;
  min-width: 25px;
  min-height: 18px;
  background-color: #82b3d3;
  mask-image: url("../images/icons/social-telegram.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-youtube::before {
  content: "";
  display: block;
  min-width: 25px;
  min-height: 18px;
  background-color: #82b3d3;
  mask-image: url("../images/icons/social-youtube.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-link:hover::before {
  background-color: #68a2ca;
}

.social-link:focus-visible::before {
  background-color: #68a2ca;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  display: block;
  cursor: pointer;
  max-width: 720px;
  padding: 5px;
  padding-left: 15px;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:focus-visible {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.author-logo-link {
  min-width: 125px;
  min-height: 40px;
  padding: 8px 0 8px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.author-logo-link::before {
  content: "";
  display: block;
  min-width: 115px;
  min-height: 33px;
  background-color: #000000;
  mask-image: url("../images/icons/social-html-academy.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.author-logo-link:hover:before {
  background-color: #756157;
}

.author-logo-link:focus-visible:before {
  background-color: #756157;
}

.author-logo-link:active:before {
  background-color: rgba(117, 97, 87, 0.3);
}

/* inner-header and filters */

.inner-header {
  color: #ffffff;
  background-color: #e3c4ab;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 10px;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 18px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  min-width: 13px;
  min-height: 15px;
  padding: 3px 0;
  display: block;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link:hover:not(.breadcrumbs-link-current) {
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:active:not(.breadcrumbs-link-current) {
  opacity: 0.3;
  cursor: pointer;
}

.catalog-filter-field {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.control {
  padding-left: 36px;
  cursor: pointer;
}

.control-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.checkbox-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 1px 0 1px -36px;
}

.control-input:checked + .checkbox-mark {
  background-image: url("../images/icons/control-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: -36px;
}

.control-input:checked + .radio-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.control:has(.control-input:hover) {
  opacity: 0.6;
}

.control-input:focus-visible + .checkbox-mark,
.control-input:focus-visible + .radio-mark {
  outline: 3px solid #82b3d3;
}

.control:has(.control-input:active) {
  opacity: 0.3;
}

.filter-group {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  border: none;
}

.infrastructure-filter {
  max-width: 165px;
}

.house-filter {
  margin-right: auto;
  max-width: 165px;
}

/* price */

.price-filter {
  width: 288px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-range-inputs-wrapper {
  display: flex;
  justify-content: space-between;
}

.range-input {
  width: 143px;
  padding: 12px 20px;
  border: none;
  margin-bottom: 46px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.min-price-input {
  border-radius: 4px 0 0 4px;
}

.max-price-input {
  border-radius: 0 4px 4px 0;
}

.price-filter-label {
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.price-input-text {
  position: absolute;
  top: 25%;
  transform: translate(0, -50%);
  right: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* catalog */

.catalog-results-wrapper {
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;
}

.search-result {
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 292px;
  height: 49px;
  box-sizing: border-box;
  padding: 12px 40px 12px 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-view-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-view {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 15px 14px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}

.button-view-current {
  border-color: #000000;
}

.button-view:hover:not(.button-view-current) {
  border-color: #000000;
}

.button-view:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.button-view:active:not(.button-view-current) {
  border-color: #000000;
}

.table-view::before {
  mask-image: url("../images/icons/table-view.svg");
  content: "";
  display: block;
  min-width: 16px;
  min-height: 14px;
  background-color: #000000;
  mask-repeat: no-repeat;
  mask-position: center;
}

.slideshow-view::before {
  mask-image: url("../images/icons/slideshow-view.svg");
  content: "";
  display: block;
  min-width: 16px;
  min-height: 14px;
  background-color: #000000;
  mask-repeat: no-repeat;
  mask-position: center;
}

.list-view::before {
  mask-image: url("../images/icons/list-view.svg");
  content: "";
  display: block;
  min-width: 16px;
  min-height: 14px;
  background-color: #000000;
  mask-repeat: no-repeat;
  mask-position: center;
}

.catalog-hotel-list {
  list-style-type: none;
  padding: 0 70px 39px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
}

.catalog-hotel-item {
  display: grid;
  gap: 16px 20px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: start;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
  cursor: pointer;
}

.hotel-card-image {
  width: 300px;
  height: auto;
  display: block;
  object-fit: contain;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.hotel-card-title:hover {
  color: #756157;
}

.hotel-card-title:active {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  justify-self: end;
}

.hotel-stars {
  justify-self: start;
  padding: 0;
  margin: 0;
  display: block;
  height: 37px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 8px 5px;
  border-radius: 4px;
}

.hotel-stars {
  margin: 0;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-size: 1em auto;
  font-size: 18px;
}

.hotel-stars-4 {
  width: calc(4em + 17px);
}

.hotel-stars-3 {
  width: calc(3em + 12px);
}

.hotel-stars-2 {
  width: calc(2em + 6px);
}

/* pagination */

.catalog-pagination-list {
  list-style-type: none;
  padding: 40px 70px 60px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
}

.catalog-pagination-list::before {
  content: "";
  height: 1px;
  width: calc(100% - 140px);
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
  cursor: pointer;
}

.pagination-link:focus-visible:not(.pagination-current) {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
  cursor: pointer;
}

.pagination-link:active:not(.pagination-current) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  cursor: pointer;
}

.skip-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 16px 10px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  border-radius: 4px
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

/* Класс для закрытия модального окна */
.modal-container-closed {
  display: none;
}

.modal-window {
  position: relative;
  margin: auto;
  margin-top: 396px;
  width: 717px;
  padding: 64px 70px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../images/icons/arrow-close.svg");
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  text-align: start;
  max-width: 525px;
}

.hotel-search-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 88px;

}

.arrival-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.departure-container {
  grid-column: 1/-1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form-input-wrapper {
  position: relative;
}

.search-form-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  max-width: 120px;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.search-form-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 45px 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 440px;
  box-sizing: border-box;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.search-form-input:hover {
  background-color: #e6e6e6;
}

.search-form-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.attention-message {
  position: absolute;
  margin: 0;
  margin-top: 4px;
  padding: 0 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
}

.error-message {
  color: #ff5757;
}

.adults-form-container {
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 247px;
}

.children-form-container {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-search-form-button {
  grid-column: 1/-1;
}

.quantity-group {
  display: flex;
}

.quantity-input-form::-webkit-outer-spin-button,
.quantity-input-form::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.quantity-input-form {
  width: 31px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding: 14px 5px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.hotel-search-form-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 18px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
}

.hotel-search-form-button:hover:not(:disabled) {
  background-color: #68a2ca;
}

.hotel-search-form-button:focus-visible:not(:disabled) {
  background-color: #68a2ca;
}

.hotel-search-form-button:active:not(:disabled) {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.minus-button {
  border: none;
  padding: 14px 10px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  position: relative;
}

.minus-mark::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-image: url("../images/icons/minus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: rgba(117, 97, 87, 0.3);
}

.minus-mark::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  position: absolute;
  bottom: 14px;
  left: 10px;
  z-index: -1;
}

.minus-button:hover::before {
  background-color: #000000;
}

.minus-button:focus-visible {
  outline: none;
}

.minus-button:focus-visible::after {
  z-index: 1;
}

.minus-button:focus-visible::before {
  background-color: #000000;
}


.minus-button:active::before {
  opacity: 0.2;
}

.plus-button {
  border: none;
  padding: 14px 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  position: relative;
}

.plus-mark::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-image: url("../images/icons/plus.svg");
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: rgba(117, 97, 87, 0.3);
}

.plus-mark::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  position: absolute;
  bottom: 14px;
  left: 10px;
  z-index: -1;
}

.plus-button:hover::before {
  background-color: #000000;
}

.plus-button:focus-visible {
  outline: none;
}

.plus-button:focus-visible::after {
  z-index: 1;
}

.plus-button:focus-visible::before {
  background-color: #000000;
}


.plus-button:active::before {
  opacity: 0.2;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  display: block;
}

.tooltip-text {
  width: 256px;
  min-height: 143px;
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 15px 18px 18px 22px;
  margin-top: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
